@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

.header {
    text-align: center;
    background-color: #CFE6CF;
    padding: 20px;
}

#headshot {
    border: 5px solid #CA6D18;
    border-radius: 50%;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #CA6D18;
}

h3 {
    margin-top: 18px;
}

.position{
    font-size: 130%;
}

.header p {
    margin-top: 20px;
}

.nav-bar {
    background-color: #e4f6fb80;
    width: 25%;
    padding-left: 0;
}

.nav-bar h2{
    padding: 16px 18px 0px 20px;
}

.internal-links {
    padding: 8px 18px 16px 40px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a.company:link, a.company:visited {
    color: #797979;
}

.education{
    margin-left: 12.5%;
    margin-right: 18px;
    padding: 20px;
    padding-bottom: 20px;
}

.workExperience-skillsTools {
    margin-left: 12.5%;
    margin-right: 18px;
    margin-bottom: 20px;
    padding: 20px;
}

.experience{
    margin-bottom: 20px;
}

.experience ul, .skills ul{
    padding-left: 22px;
}

.footer {
    padding: 20px;
    background-color: #CFE6CF;
    text-align: center;
}
